html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
    color: black;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

/* 導引列 */
/* hamburger menu參考網址 https://codepen.io/miguelml/pen/Wromzv?editors=1100 */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}
/* 參考範例結束 */

.navbar{
    margin-bottom: 0;
    position: fixed;
    top: 0px;
    width: 100vw;
    box-shadow:0px 2px 2px gray;  
    border-color: transparent;
}

.navbar #logo img{
    padding: 10px;
    height: 80px;
}

.navbar-collapse ul li img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.navbar-collapse ul li{
    font-size: 30px;
}

.navbar-collapse ul li:hover{
    font-weight: bold;
}

.navbar-collapse ul li:hover img{
    transform: rotate(15deg);
}

.navbar-default .navbar-collapse{   
    border-color: transparent;
}

.navbar-default{
    background-color: burlywood;
}


/* 

.navbar-collapse ul li img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.navbar-collapse img{
    vertical-align: middle;
}

.navbar-collapse ul{
    display: inline-block;
}

.navbar-collapse ul li{
    display: inline-block;
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
}

.navbar-collapse ul li span{
    margin-left: 5px;
}

.navbar-collapse ul li:hover img{
    transform: rotate(10deg);
}

.navbar-collapse ul li:hover{
    font-weight: bold;
} */


/* 右側導覽列 */

.navbar-right{
    position: fixed;
    top: 50%;
    right: 0;
}
.navbar-right ul li{
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset;
    border-radius: 999em;
    cursor: pointer;
    list-style: none;
}
.navbar-right ul .active{
    background-color: burlywood;
}

/* 一頁式底圖設定 */
.onepage{
    width: 100vw;
    height: 100vh;
    margin:0 auto;
    padding-top:100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* 每頁底圖 */

#one-main{
    background-image: url(pic/main01.jpg);
}

#one-story{
    background-image: url(pic/story01.jpg);
}

#one-menu{
    background-image: url(pic/menu01.jpg);
}

#one-promise{
    background-image: url(pic/promise01.jpg);
}

#one-about{
    background-image: url(pic/about01.jpg);
}

#one-contact{
    background-image: url(pic/contact01.jpg);
}

/* 回頂部按鈕 */
.btn-top{
    overflow:hidden;
}

.btn-top img{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 999em;
    /* 滑入圖片放大 */
    transform:scale(1,1);
    transition: all 0.3s ease-out;
}

.btn-top img:hover{
    transform:scale(1.1,1.1);
}

/* 每頁內容半透明底圖 */
.content-box{
    background-color:rgba(255,255,255,0.5);
    width:80%;
    height: 80%;
    padding: 100px;
    box-shadow:1px 1px 5px gray;
    margin: 0 auto;
}

/* 品質保證 */

#promise{
    display: grid;
    grid-template-columns: auto auto auto;
}

#promise img{
    /* box-shadow:1px 1px 3px black; */
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px;
}

/* 關於我們 */
#about{
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-map{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.about-text{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 30px;
    vertical-align:top;
    padding: 50px;
}

.about-text table{
    font-size: 20px;
}

.about-text table td{
    padding: 5px 10px;
}



/* 聯絡我們(表單) */
.form{
    width:60%;
    height:520px;
    margin:5px auto;
    padding:20px;
  }

input[type="text"], input[type="email"], textarea{
    width:100%;
    height:40px;
    padding:3px 5px;
    margin:5px 0px;
    box-sizing:border-box;
  }

textarea{
    height:200px;
  }

input[type="reset"], input[type="submit"] {
    width: 150px;
    height: 50px;
    font-size: 20px;
    color:#fff;
    border:1px solid rgba(255,255,255,0.5);
    margin: auto 10px;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 50px;
  }
  
input[type="reset"]:hover, input[type="submit"]:hover{
    background-color:rgba(255, 255, 255, 0.1);
}

.form-button{
    text-align: center;
}

#contact label{
    font-size: 28px;
}


/* 頁尾 */
.footer {
    text-align: center;
    background-color: rgba(119, 58, 9, 0.76);
    height: 60px;
    width: 100vw;
    line-height: 60px;
    bottom: 0;
}

/* 去廣告
img[alt="www.000webhost.com"]{
    display: none;
} */